body{
  background-image: url(../images/back5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#quote-box{
  width: 600px;
  height: 450px;
  background-image: url(../images/pap08.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  margin-top: 120px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0);
}

#cont{
  width: 68%;
  height: 200px;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  color: #005269;
}

#new-quote{
  width: 80px;
  height: 45px;
  background-image: url(../images/castano.jpg);
  font-size: 15px;
  font-weight: bold;
  color: rgb(211, 201, 176);
  box-shadow:10px 10px 10px black;
  border-radius: 5px;
  border: 0px;
  outline-style: none;
}

h2{
  margin: auto;
  margin-top: 100px;
  padding: 0px;
  font-style: italic;
  font-weight: bold;
  color: #005269;
}

#text{
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

#author{
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
}

#cont2{
  width: 100%;
  height: 155px;    
}

#randomB{
  width: 100%;
  height: 45px;  
}

#social{
  width: 100px;
  margin-left: 110px; 
  margin-top: 20px;
}

.twitter, .face{
  width: 30px;
}

#tweet-quote,#facebook-quote{
  margin-left: 5px;
}

#new-quote:active{
  font-size: 15px;
  color: rgb(128, 122, 108);
  box-shadow:5px 5px 5px black;
  background-color: rgb(0, 0, 0);
}

@media screen and (max-width: 600px) {

  #quote-box{
    min-width: 400px;
    width: 400px;
    height: 450px;
    margin: auto;
  }
  
  #cont{
    width: 68%;
    height: 170px;
    margin-top: 0px;
  }

  h2{
    margin-top: 145px;
  }

  #text{
    font-size: 14px;
  }

  #author{
    font-size: 12px;
  }

  #social{
    margin-left: 51px;
    margin-top: -40px;
  }

  .twitter, .face{
    width: 20px;
  }

  #randomB{
    margin-top: -20px;  
  }
}